{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome To My Website{% endblock %}</h1>
    {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <h1 class="badge badge-warning">You can edit post here:</h1>
        <!DOCTYPE html>
<html>
<style>
body {
  font-size: 20px;
}
</style>
<body>

<span style='font-size:20px;'>&#128073;</span>


</body>
</html>

        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}

{% for post in posts %}
    <a href="{{ url_for('post', post_id=post['id']) }}">
        <h2>{{ post['title'] }}</h2>
    </a>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <hr>
    
{% endfor %}


